<md-toolbar color="primary">
  <span  layout-align="center center">Cube Summation</span>
</md-toolbar>
<md-grid-list cols="2" rowHeight="2:1.5">
  <md-grid-tile>
    <md-input-container>
      <textarea mdInput placeholder="Input" name="input" [(ngModel)]="input" class="texttarea"></textarea>
    </md-input-container>
  </md-grid-tile>
  <md-grid-tile>
    <md-input-container>
      <textarea mdInput placeholder="output" name="output" [(ngModel)]="output" class="texttarea" disabled></textarea>
    </md-input-container>
  </md-grid-tile>
</md-grid-list>
<button name="button" (click)="main(input)" color="primary" style="float: right;" md-raised-button>Calcular</button>
