<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span layout-align="center center">Cube Summation</span>
  </mat-toolbar-row>
</mat-toolbar>
<div class="container">
  <mat-form-field>
    <textarea matInput placeholder="Autosize textarea" [(ngModel)]="input" matTextareaAutosize matAutosizeMinRows="2" resizeToFitContent></textarea>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="Autosize textarea" [(ngModel)]="output" matTextareaAutosize matAutosizeMinRows="2" resizeToFitContent></textarea>
  </mat-form-field>
</div>
<button name="button" (click)="main(input)" color="primary" style="float: right;" mat-raised-button>Calcular</button>
